<div class="jumbotron">
  <h1 class="display-4">Blogging App</h1>
  <p class="lead">Welcome to this great blogging app.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Create a new post</a>
  </p>
</div>